
body {
	background-color: #3AAFA9;
	color: #17252A;
}

/* .navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
} */

.jumbotron {
	background-color: #DEF2F1;
}

.navbar {
	margin-top: 15px;
}

.navbar-dark {
	color: blue;
}

.active {
	color: #D1D1D1;
	font-weight: bold;
}

#main {
	padding-top: 20px;
}

#welcome {
	background-color: #DEF2F1;
}